/* 
variable(可变的)
颜色规范
 */

/* 灰色 */
//浅灰
$color-gray-t:rgba(7, 17, 27, 0.1);


/* 黑色 */
//黑色



// 颜色定义规范
// $color-background:black;
// $color-background-d:rgba(0, 0, 0, 0.3);

// // 白色
$color-text:#fff;
// //白色 半透明色
// $color-text-l:rgba(255, 255, 255, 0.5);

/* 字体定义规范 */
$font-size-small-s:10px;
$font-size-small:12px;
// 中等
$font-size-medium:14px;
$font-size-medium-x:16px;
//大号
$font-size-large:18px;
$font-size-large-x:22px;




// $font-col-red:#f01414;
// $font-col-black:#07111b;
// $font-col-blue:#00a0dc;
